@model IEnumerable<Infraestructure.Models.ReporteIncidencias>

@{
    int id = 0;
    int idTipoUsuario = 0;

    if (Session["User"] != null)
    {
        Infraestructure.Models.Usuarios usuario = new Infraestructure.Models.Usuarios();
        usuario = (Infraestructure.Models.Usuarios)Session["User"];
        id = usuario.ID;
        idTipoUsuario = usuario.IDTipoUsuario;
    }

    var incidenciasUser = new List<Infraestructure.Models.ReporteIncidencias>();
    if (idTipoUsuario == 1)
    {
        incidenciasUser = Model.ToList();
    }
    else
    {
        if (idTipoUsuario == 2)
        {
            foreach (var item in Model.ToList())
            {
                if (item.IDUsuario == id)
                {
                    incidenciasUser.Add(item);
                }

            }
        }
    }
    incidenciasUser.Reverse();
}

<div data-aos="fade-up">
    <table class="table">
        <tr class="text-center">
            @if (idTipoUsuario == 1)
            {
                <th>
                    @Html.DisplayNameFor(model => model.Usuarios.nombre)
                </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoIncidencia.TipoEstado)
            </th>
        </tr>

        @foreach (var item in incidenciasUser)
        {
            <tr class="text-center">
                @if (idTipoUsuario == 1)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Usuarios.nombre)
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.descripcion)
                </td>
                @if (idTipoUsuario == 1)
                {
                    <td style="width:20rem">
                        @if (item.IDEstado == 1)
                        {
                            <button class="btn btn-danger custom-size" onclick="ActualizarIncidencia('@item.IDIncidencia')"><i class="fas fa-question-circle"></i> Atender Incidencia</button>
                        }
                        @if (item.IDEstado == 2)
                        {
                            <button class="btn btn-warning custom-size" onclick="ActualizarIncidencia('@item.IDIncidencia')"><i class="fas fa-exclamation-circle"></i> Resolver Incidencia</button>
                        }
                        @if (item.IDEstado == 3)
                        {
                            <div class="custom-size" style="background-color: #01b51b; color:#fff; padding: 7px;" >
                               <i class="fa-solid fa-circle-check"></i> Incidencia @Html.DisplayFor(modelItem => item.EstadoIncidencia.TipoEstado)
                            </div>
                        }
                    </td>
                }
                else
                {
                    <td style="width:20rem">
                        @if (item.IDEstado == 1)
                        {
                            <div class="custom-size" style="background-color: #b10000;">
                               <i class="fas fa-question-circle"></i> Incidencia @Html.DisplayFor(modelItem => item.EstadoIncidencia.TipoEstado)
                            </div>
                        }
                        @if (item.IDEstado == 2)
                        {
                            <div class="custom-size" style="background-color: #ffbb00;">
                               <i class="fas fa-exclamation-circle"></i> Incidencia @Html.DisplayFor(modelItem => item.EstadoIncidencia.TipoEstado)
                            </div>
                        }
                        @if (item.IDEstado == 3)
                        {
                            <div class="custom-size" style="background-color: #01b51b;">
                                <i class="fa-solid fa-circle-check"></i> Incidencia @Html.DisplayFor(modelItem => item.EstadoIncidencia.TipoEstado)
                            </div>
                        }
                    </td>
                }
            </tr>
        }
    </table>
</div>

@if (ViewBag.NotificationMessage != null)
{
    <script>
            @Html.Raw(ViewBag.NotificationMessage)
    </script>
}
