@model Infraestructure.Models.ReporteIncidencias

@{
    ViewBag.Title = "Reporte de Incidencias";
}
@* Información usuario *@
@{

    var Incidencias = new List<Infraestructure.Models.ReporteIncidencias>();
    Incidencias = ViewBag.listaIncidencias;
    String nombre = "";
    int id = 0;
    int idTipoUsuario = 0;

    if (Session["User"] != null)
    {
        Infraestructure.Models.Usuarios usuario = new Infraestructure.Models.Usuarios();
        usuario = (Infraestructure.Models.Usuarios)Session["User"];
        nombre = $"{usuario.nombre}";
        id = usuario.ID;
        idTipoUsuario = usuario.IDTipoUsuario;
    }
}




<div data-aos="fade-up">
    @if (idTipoUsuario == 1)
    {
        <h2 class="text-center">@ViewBag.Title</h2>

    }
    else
    {
        if (idTipoUsuario == 2)
        {
            <h2 class="text-center">@ViewBag.Title hechas por @nombre</h2>
        }
    }
    <hr />
    <h3 class="text-center">Filtros de Búsqueda</h3>
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="form-group">
                <div class="col-md-12">
                    @Html.DropDownListFor(model => model.IDEstado,
                   (SelectList)ViewBag.IDEstadosDeIncidencia,
                   "Seleccione un Estado",
                   htmlAttributes: new { @class = "form-control", @id = "EstadoAjax" })
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <button class="btn btn-primary" onclick="BuscarHistorial()" style="width:100%"><i class="fa-solid fa-magnifying-glass"></i> Buscar</button>
        </div>
    </div>
    <hr />
    <div>
        <button class="btn btn-primary" onclick="CrearIncidencia()"><i class="fa-solid fa-plus"></i> Añadir Nueva Incidencia</button>
    </div>
    <hr />
    <div>
        <span class="glyphicons glyphicons-hand-left"></span>
        <div id="tablaIncidencias">

            @Html.Partial("_PartialViewListaIncidencias", Incidencias)

        </div>
    </div>
</div>

<div class="modal" tabindex="-1" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content" style="color:#fff">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>

            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script type="text/javascript">
        function BuscarHistorial() {
            var idEstadoIncidencia = $("#EstadoAjax").val();
            $.ajax({
                url: '@Url.Action("BuscarHistorial", "ReporteIncidencias")', // especificar la acción del controlador que manejará la solicitud
                type: 'POST',
                data: {
                    'id': idEstadoIncidencia,
                },
                success: function (result) {
                    $('#tablaIncidencias').html('');
                    // procesar la respuesta del servidor
                    $('#tablaIncidencias').html(result);
                },
                error: function (xhr, status, error) {
                    // manejar errores
                    console.log(error);
                }
            });
        }
        function CrearIncidencia() {
            $.ajax({
                method: 'POST',
                url: '/ReporteIncidencias/AjaxCrearIncidencia',
                success: function (response) {
                    $('.modal-body').html('');
                    $('.modal-body').html(response);
                    $('#myModal').modal('show');
                }, error: function (xhr, status, error) {
                    console.log('Error' + error + ',No Error' + xhr.status);
                }
            })
        }

        function GuardarIncidencia() {
            event.preventDefault(); // prevenir el comportamiento predeterminado del botón de envío
            var formData = new FormData($('form')[0]); // obtener los datos del formulario y serializarlos en FormData
            $.ajax({
                url: '@Url.Action("Guardar", "ReporteIncidencias")', // especificar la acción del controlador que manejará la solicitud
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (result) {
                    // procesar la respuesta del servidor
                    $('#tablaIncidencias').html(result);
                    $('#myModal').modal('hide');
                },
                error: function (xhr, status, error) {
                    // manejar errores
                    console.log(error);
                }
            });
        }

        function ActualizarIncidencia(idIncidencia) {
            var id = idIncidencia;
            $.ajax({
                method: 'POST',
                url: '/ReporteIncidencias/Actualizar',
                data: { 'id': id },
                success: function (result) {
                    $('#tablaIncidencias').html('');
                    $('#tablaIncidencias').html(result);
                }, error: function (xhr, status, error) {
                    console.log('Error' + error + ',No Error' + xhr.status);
                }
            })
        }

    </script>
}