@model IEnumerable<Infraestructure.Models.ReporteIncidencias>

@{
    ViewBag.Title = "Reporte de Incidencias";
}
<div data-aos="fade-up">
    <h2 class="text-center">@ViewBag.Title</h2>
    <div>
        <a href="@Url.Action("Create","ReporteIncidencias")" class="btn btn-primary">
            <i class="fa-solid fa-plus"></i> Crear Nuevo Reporte
        </a>
    </div>
    <hr />
    <table class="table table-hover">
        <tr class="text-center">
            <th>
                @Html.DisplayNameFor(model => model.EstadoIncidencia.TipoEstado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuarios.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descripcion)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr class="text-center">
                <td>
                    @Html.DisplayFor(modelItem => item.EstadoIncidencia.TipoEstado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuarios.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.descripcion)
                </td>
                <td>
                    <div class="text-center">
                        <button id="btnActualizar" class="btn btn-primary" data-id="@item.IDIncidencia">Actualizar Estado</button>
                    </div>
                </td>
            </tr>
        }
    </table>
</div>


@section Scripts{
    <script type="text/javascript">
        
        $("#btnActualizar").click(function () {
            var id = $(this).data("id");
            $.ajax({
                method: 'POST',
                url: '/ReporteIncidencias/Actualizar',
                data: { idIncidencia: id },
                success: function (response) {
                    $('#resultado').html('');
                    $('#resultado').html(response);
                }, error: function (xhr, status, error) {
                    console.log('Error' + error + ',No Error' + xhr.status);
                }
            })
        })
    </script>
}
