@model IEnumerable<Infraestructure.Models.ReporteIncidencias>

@{
    ViewBag.Title = "Reporte de Incidencias";
}
@* Información usuario *@
@{
    String nombre = "";
    int id = 0;
    int idTipoUsuario = 0;

    if (Session["User"] != null)
    {
        Infraestructure.Models.Usuarios usuario = new Infraestructure.Models.Usuarios();
        usuario = (Infraestructure.Models.Usuarios)Session["User"];
        nombre = $"{usuario.nombre}";
        id = usuario.ID;
        idTipoUsuario = usuario.IDTipoUsuario;
    }

    var incidenciasUser = new List<Infraestructure.Models.ReporteIncidencias>();
    if (idTipoUsuario == 1)
    {
        incidenciasUser = Model.ToList();
    }
    else
    {
        if (idTipoUsuario == 2)
        {
            foreach (var item in Model.ToList())
            {
                if (item.IDUsuario == id)
                {
                    incidenciasUser.Add(item);
                }

            }
        }
    }
    incidenciasUser.Reverse();
}




<div data-aos="fade-up">
    @if (idTipoUsuario == 1)
    {
        <h2 class="text-center">@ViewBag.Title</h2>

    }
    else
    {
        if (idTipoUsuario == 2)
        {
            <h2 class="text-center">@ViewBag.Title hechas por @nombre</h2>
        }
    }
    <hr />
    <div>
        <a href="@Url.Action("Create","ReporteIncidencias")" class="btn btn-primary">
            <i class="fa-solid fa-plus"></i> Crear Nuevo Reporte
        </a>
    </div>


    <table class="table table-hover">
        <tr class="text-center">
            <th>
                @Html.DisplayNameFor(model => model.EstadoIncidencia.TipoEstado)
            </th>
            @if (idTipoUsuario == 1)
            {
                <th>
                    @Html.DisplayNameFor(model => model.Usuarios.nombre)
                </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.descripcion)
            </th>
            @if (idTipoUsuario == 1)
            {
                <th></th>
            }
        </tr>

        @foreach (var item in incidenciasUser)
        {
            <tr class="text-center">
                <td>
                    @Html.DisplayFor(modelItem => item.EstadoIncidencia.TipoEstado)
                </td>
                @if (idTipoUsuario == 1)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Usuarios.nombre)
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.descripcion)
                </td>
                @if (idTipoUsuario == 1)
                {
                    <td>
                        @if (item.IDEstado == 1)
                        {
                            <form method="post" action="@Url.Action("Actualizar", "ReporteIncidencias")">
                                <input type="hidden" name="idIncidencia" value=@item.IDIncidencia />
                                <button class="btn btn-primary">Actualizar Incidencia</button>
                            </form>
                        }
                        @if (item.IDEstado == 2)
                        {
                            <form method="post" action="@Url.Action("Actualizar", "ReporteIncidencias")">
                                <input type="hidden" name="idIncidencia" value=@item.IDIncidencia />
                                <button class="btn btn-primary">Resolver Incidencia</button>
                            </form>
                        }
                    </td>
                }
            </tr>
        }
    </table>
</div>
