@model Infraestructure.Models.GestionReservas

<div data-aos="fade-up">
    @using (Html.BeginForm("GuardarReserva", "GestionReserva", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4 class="text-center">Añadir Nueva Reserva</h4>
            <hr />

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.fecha, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.fecha, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.fecha, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.IDEspacio, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-12">
                    @Html.DropDownListFor(model => model.IDEspacio,
                   (SelectList)ViewBag.IDEspacios,
                   "Seleccione un Espacio",
                   htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.IDEspacio, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="btn-group" role="group">
                    <button class="btn btn-primary" onclick="GuardarReserva()"><i class="fa-solid fa-plus"></i> Añadir Nueva Reserva</button>
                </div>
            </div>
        </div>
    }
</div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
