@model Infraestructure.Models.GestionReservas

<div data-aos="fade-up">
    <h2>Detalle de la reserva</h2>

    <div>
        <hr />
        <dl class="dl-horizontal">


            <dt>
                @Html.DisplayNameFor(model => model.Usuarios.nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Usuarios.nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Espacios.descripcion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IDEspacio) - @Html.DisplayFor(model => model.Espacios.descripcion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.fecha)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.fecha)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EstadoReserva.descripcion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EstadoReserva.descripcion)
            </dd>

        </dl>
    </div>

    <div class="form-group">
        <div class="btn-group" role="group">
            @*@<a href="@Url.Action("GestionReserva","IndexAdmin", new { id = Model.IDReserva })" class="btn btn-success">
            Aprobar
        </a>
        <a href="@Url.Action("GestionReserva","IndexAdmin"/*, new { id = Model.IDReserva }*/)" class="btn btn-danger">
            Rechazar
        </a>*@
            <button class="btn btn-success" onclick="AprobarReserva(id = Model.IDReserva)">Aprobar</button>
            <button class="btn btn-danger" onclick="RechazarReserva(id = Model.IDReserva)">Rechazar</button>
        </div>
    </div>
        
</div>

