@model Infraestructure.Models.GestionReservas

@{
    var Reservas = new List<Infraestructure.Models.GestionReservas>();
    Reservas = ViewBag.listaReservas;
    String nombre = "";
    int id = 0;
    int idTipoUsuario = 0;

    if (Session["User"] != null)
    {
        Infraestructure.Models.Usuarios usuario = new Infraestructure.Models.Usuarios();
        usuario = (Infraestructure.Models.Usuarios)Session["User"];
        nombre = $"{usuario.nombre}";
        id = usuario.ID;
        idTipoUsuario = usuario.IDTipoUsuario;
    }

    if (idTipoUsuario == 1)
    {
        ViewBag.Title = "Gestion de Reservas";
    }
    if (idTipoUsuario == 2)
    {
        ViewBag.Title = "Gestion de Reservas de " + nombre;
    }
}

<div data-aos="fade-up">


    <h2 class="text-center">Filtros de Búsqueda</h2>
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="form-group">
                <div class="col-md-12">
                    @Html.DropDownListFor(model => model.IDEstado,
                   (SelectList)ViewBag.IDEstadosDeReserva,
                   "Seleccione un Estado",
                   htmlAttributes: new { @class = "form-control", @id = "EstadoAjax" })
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <button class="btn btn-primary" onclick="BuscarHistorial()" style="width:100%"><i class="fa-solid fa-magnifying-glass"></i> Buscar</button>
        </div>
    </div>
    
    <hr />

    <h2 class="text-center">@ViewBag.Title</h2>
    <a href="@Url.Action("Create","GestionReserva")" class="btn btn-primary">
        <i class="fa-solid fa-plus"></i> Crear Nueva Reserva
    </a>

    <div>
        <span class="glyphicons glyphicons-hand-left"></span>
        <div id="tablaReservas">

            @Html.Partial("_PartialViewListaReserva", Reservas)

        </div>
    </div>
</div>

<div class="modal" tabindex="-1" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content" style="color:#fff">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>

            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script type="text/javascript">

        function BuscarHistorial() {
            var idEstadoReserva = $("#EstadoAjax").val();
            debugger;
            $.ajax({
                url: '@Url.Action("BuscarHistorial", "GestionReserva")', // especificar la acción del controlador que manejará la solicitud
                type: 'POST',
                data: {
                    'id': idEstadoReserva,
                },
                success: function (result) {
                    $('#tablaReservas').html('');
                    // procesar la respuesta del servidor
                    $('#tablaReservas').html(result);
                },
                error: function (xhr, status, error) {
                    // manejar errores
                    console.log(error);
                }
            });
        }

        function GuardarReserva() {
            event.preventDefault(); // prevenir el comportamiento predeterminado del botón de envío
            var formData = new FormData($('form')[0]); // obtener los datos del formulario y serializarlos en FormData
            $.ajax({
                url: '@Url.Action("Guardar", "GestionReserva")', // especificar la acción del controlador que manejará la solicitud
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (result) {
                    // procesar la respuesta del servidor
                    $('#tablaReservas').html(result);
                    $('#myModal').modal('hide');
                },
                error: function (xhr, status, error) {
                    // manejar errores
                    console.log(error);
                }
            });
        }

        function DetalleReserva(idReserva) {
            var id = idReserva;
            $.ajax({
                method: 'POST',
                url: '/GestionReserva/_PartialViewDetalleReserva',
                data: { 'id': id },
                success: function (response) {
                    $('.modal-body').html('');
                    $('.modal-body').html(response);
                    $('#myModal').modal('show');
                }, error: function (xhr, status, error) {
                    console.log('Error' + error + ',No Error' + xhr.status);
                }
            })
        }

        function ActualizarReserva(idReserva) {
            var id = idReserva;
            $.ajax({
                method: 'POST',
                url: '/GestionReserva/AjaxModificarReserva',
                data: { 'id': id },
                success: function (response) {
                    $('.modal-body').html('');
                    $('.modal-body').html(response);
                    $('#myModal').modal('show');
                }, error: function (xhr, status, error) {
                    console.log('Error' + error + ',No Error' + xhr.status);
                }
            })
        }

        function AprobarReserva(idReserva) {
            debugger;
            var id = idReserva;
            $.ajax({
                method: 'POST',
                url: '/GestionReserva/actualizarEstado',
                data: {
                    'id': id,
                    'estado': true
                },
                success: function (result) {
                    // procesar la respuesta del servidor
                    $('#tablaReservas').html(result);
                    $('#myModal').modal('hide');
                }, error: function (xhr, status, error) {
                    console.log('Error' + error + ',No Error' + xhr.status);
                }
            })
        }

        function RechazarReserva(idReserva) {
            debugger;
            var id = idReserva;
            $.ajax({
                method: 'POST',
                url: '/GestionReserva/actualizarEstado',
                data: {
                    'id': id,
                    'estado': false
                },
                success: function (result) {
                    // procesar la respuesta del servidor
                    $('#tablaReservas').html(result);
                    $('#myModal').modal('hide');
                }, error: function (xhr, status, error) {
                    console.log('Error' + error + ',No Error' + xhr.status);
                }
            })
        }

    </script>
}