@model IEnumerable<Infraestructure.Models.GestionAsignacionPlanes>



<div data-aos="fade-up">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IDResidencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GestionPlanCobros.descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaAsignacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GestionPlanCobros.total)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IDResidencia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GestionPlanCobros.descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fechaAsignacion)
                </td>
                <td>
                    <i class="fa-solid fa-colon-sign"></i> @Html.DisplayFor(modelItem => item.GestionPlanCobros.total)
                </td>
            </tr>
        }

    </table>
</div>
