@model IEnumerable<Infraestructure.Models.GestionAsignacionPlanes>

@{
    ViewBag.Title = "Detalle del Estado de Cuenta";
}
@{
    var historialDePago = new List<Infraestructure.Models.GestionAsignacionPlanes>();
    var deudasPendientes = new List<Infraestructure.Models.GestionAsignacionPlanes>();

    foreach (var item in Model.ToList())
    {
        if (item.estadoPago == true)
        {
            historialDePago.Add(item);
        }
        else
        {
            deudasPendientes.Add(item);
        }
    }
}
<h1 class="text-center" data-aos="fade-up"><i class="fa-solid fa-file-invoice"></i> Estado de Cuenta</h1>
<hr />
<h5>Nombre del Propietario: @Html.DisplayFor(model => model.FirstOrDefault().GestionResidencias.Usuarios.nombre)</h5>
<h5>Número de Residencia: @Html.DisplayFor(model => model.FirstOrDefault().IDResidencia)</h5>
<h5>Fecha del Estado de Cuenta: @DateTime.Now.ToString("dd/MM/yyyy")</h5>
<hr />
<div data-aos="fade-up">
    <h2 class="text-center"><i class="fa-solid fa-money-check-dollar"></i> Deudas Pendientes</h2>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GestionPlanCobros.descripcion)
            </th>
            <th>
                Monto a pagar
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaAsignacion)
            </th>
            <th></th>
        </tr>

        @foreach (var item in deudasPendientes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GestionPlanCobros.descripcion)
                </td>
                <td>
                    @{
                        decimal total = 0;
                    }
                    @foreach (var c in item.GestionPlanCobros.GestionRubrosCobros)
                    {

                        total += c.monto;
                    }
                    <i class="fa-solid fa-colon-sign"></i>@total

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fechaAsignacion)
                </td>
                <td>
                    <div class="text-center">
                        <a href="@Url.Action("Details","EstadoDeCuenta", new { id = item.IDResidencia })" class="btn btn-primary">
                            <i class="fa-solid fa-cart-shopping"></i> Pagar
                        </a>
                    </div>
                </td>
            </tr>

        }

    </table>
</div>
<hr />
<div data-aos="fade-up">
    <h2 class="text-center"><i class="fa-solid fa-clock-rotate-left"></i> Historial de Pagos</h2>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GestionPlanCobros.descripcion)
            </th>
            <th>
                Monto Pagado
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaAsignacion)
            </th>
            <th></th>
        </tr>

        @foreach (var item in historialDePago)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GestionPlanCobros.descripcion)
                </td>
                <td>
                    @{
                        decimal total = 0;
                    }
                    @foreach (var c in item.GestionPlanCobros.GestionRubrosCobros)
                    {

                        total += c.monto;
                    }
                    <i class="fa-solid fa-colon-sign"></i>@total

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fechaAsignacion)
                </td>
            </tr>
        }

    </table>
</div>