@model IEnumerable<Infraestructure.Models.GestionResidencias>

@{
    ViewBag.Title = "Estados de Cuenta";

}

@{
    String nombre = "";
    int id = 0;
    int idTipoUsuario = 0;

    if (Session["User"] != null)
    {
        Infraestructure.Models.Usuarios usuario = new Infraestructure.Models.Usuarios();
        usuario = (Infraestructure.Models.Usuarios)Session["User"];
        nombre = $"{usuario.nombre}";
        id = usuario.ID;
        idTipoUsuario = usuario.IDTipoUsuario;
    }

    var ResidenciasUser = new List<Infraestructure.Models.GestionResidencias>();
    if (idTipoUsuario==1)
    {
        ResidenciasUser = Model.ToList();
    }
    else
    {
        if (idTipoUsuario == 2)
        {
            foreach (var item in Model.ToList())
            {
                if (item.IDUsuario == id)
                {
                    ResidenciasUser.Add(item);
                }

            }
        }
    }

}

<div data-aos="fade-up">

    <h2 class="text-center">Estados de Cuenta</h2>

    <table class="table">
        <tr class="text-center">
            <th>
                @Html.DisplayNameFor(model => model.IDResidencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuarios.nombre)
            </th>
            <th></th>
        </tr>

        @foreach (var item in ResidenciasUser)
        {
            <tr class="text-center">
                <td>
                    @Html.DisplayFor(modelItem => item.IDResidencia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuarios.nombre)
                </td>
                <td>
                    <div class="text-center">
                        <a href="@Url.Action("Details","EstadoDeCuenta", new { id = item.IDResidencia })" class="btn btn-primary">
                            Ver Estado de Cuenta
                        </a>
                    </div>
                </td>
            </tr>
        }



    </table>
</div>