@model IEnumerable<Infraestructure.Models.GestionRubrosCobros>

@{
    ViewBag.Title = "Mantenimiento Rubros de Cobro";
}

<div data-aos="fade-up">
    <h2>@ViewBag.Title</h2>


    <div>
        <a href="@Url.Action("Create","GestionRubrosCobros")" class="btn btn-primary">
            <i class="fa-solid fa-plus"></i> Crear Nuevo Rubro de Cobro
        </a>
    </div>
    <table class="table table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.monto)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.monto)
                </td>
                <td>
                    <div class="text-center">
                        <a href="@Url.Action("Edit","GestionRubrosCobros", new { id = item.IDRubro })" class="btn btn-primary">
                            Modificar Rubro
                        </a>
                    </div>
                </td>
            </tr>
        }

    </table>
</div>