@model IEnumerable<Infraestructure.Models.Informacion>
@{
    ViewBag.Title = "Inicio";
}

@{
    var Noticias = new List<Infraestructure.Models.Informacion>();
    var Avisos = new List<Infraestructure.Models.Informacion>();
    var ArchivosDocumentales = new List<Infraestructure.Models.Informacion>();

    foreach (var item in Model.ToList())
    {
        if (item.IDTipoInfo == 1)
        {
            Noticias.Add(item);
        }
        if (item.IDTipoInfo == 3)
        {

            Avisos.Add(item);
        }
        if (item.IDTipoInfo == 2)
        {
            ArchivosDocumentales.Add(item);
        }
        Noticias.Reverse();
        Avisos.Reverse();
        ArchivosDocumentales.Reverse();
    }


}


<div class="row arreglomargen" data-aos="fade-up">
    <div class="jumbotron col-lg-6 col-md-12 col-sm-12 blueback ">
        <h1 class="text-center">Bienvenidos a LuminCondo</h1>
        <div class="gy-5">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/Assets/condominio1.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Diseños Modernos</h5>
                            <p>Todas nuestras residencias presentan construcciones de tipo modernas que te van a maravillar</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="~/Assets/condominio2.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Hermosas Piscinas</h5>
                            <p>Para tus ratos de esparcimiento</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="~/Assets/condominio3.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Ranchos</h5>
                            <p>Lugares perfectos para compartir con tu familia y/o amigos.</p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <p class="lead text-center">La Página oficial del Condominio las Luciérnagas</p>
    </div>



    <div class="col-lg-6 col-sm-12">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 tiles blackback">
                <h2>Áreas Comunes</h2>
                <p>
                    Dentro del condominio contamos con diferentes espacios recreativos que te encantaran conocer
                </p>
                <div class="text-center">
                    <a href="@Url.Action("Index","Home")" class="btn btn-primary">Reserva Aquí</a>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12 tiles">
                <img src="~/Assets/Logo LuminCondo.jpg" class="contentImg" alt="...">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-sm-12 tiles blueback">
                <h2>Estado de Cuenta</h2>
                <p>Mira tu historial de pagos y de las asignaciones pendientes de pagar </p>
                <div class="text-center">
                    <a href="@Url.Action("Index","EstadoDeCuenta")" class="btn btn-primary">Ingresa Aquí</a>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12 tiles blackback">
                <h2>Incidencias</h2>
                <p>Reporta aquí tus incidencias, para recibir soporte</p>
                <div class="text-center">
                    <a href="@Url.Action("Index","ReporteIncidencias")" class="btn btn-primary">Reporta Aquí</a>
                </div>
            </div>
        </div>
    </div>


    <hr />
    <h1 class="text-center">Noticias</h1>
    <hr />

    <div class="row text-center">
        <div class="col-lg-4 col-md-6 col-sm-12" data-aos="fade-up">
            <h3 class="text-center">Noticias</h3>
            <hr />
            @foreach (var item in Noticias)
            {
                <div class="blackbackInfo">
                    <h3 class="text-center">@item.titulo</h3>
                    <p>Fecha: @item.fechaPublicacion.ToString("dd/MM/yyyy")</p>
                    <p>@item.descripcion</p>
                </div>
            }
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12" data-aos="fade-up">
            <h3 class="text-center bla">Avisos</h3>
            <hr />
            @foreach (var item in Avisos)
            {
                <div class="blackbackInfo">
                    <h3 class="text-center">@item.titulo</h3>
                    <p>Fecha: @item.fechaPublicacion.ToString("dd/MM/yyyy")</p>
                    <p>@item.descripcion</p>
                </div>
            }
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12" data-aos="fade-up">
            <h3 class="text-center">Archivos Documentales</h3>
            <hr />
            @foreach (var item in ArchivosDocumentales)
            {
                <div class="blackbackInfo">
                    <h3 class="text-center">@item.titulo</h3>
                    <p>Fecha: @item.fechaPublicacion.ToString("dd/MM/yyyy")</p>
                    <p>@item.descripcion</p>
                </div>
            }
        </div>
    </div>

</div>


