@model Infraestructure.Models.GestionResidencias

@{
    ViewBag.Title = "Editar Residencia";
}

<div data-aos="fade-up">
    <h2 class="text-center">@ViewBag.Title</h2>


    @using (Html.BeginForm("Guardar", "ListaResidencias", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.HiddenFor(model => model.cantPersonas)
            @Html.HiddenFor(model => model.cantCarros)
            @Html.HiddenFor(model => model.IDResidencia)
            <div class="form-group">
                @Html.LabelFor(model => model.IDUsuario, htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12">
                    @Html.DropDownListFor(model => model.IDUsuario,
                   (SelectList)ViewBag.IDUsuarios,
                   "Seleccione un Usuario",
                   htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.IDUsuario, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.IDEstadoResidencia, htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12">
                    @Html.DropDownListFor(model => model.IDEstadoResidencia,
                   (SelectList)ViewBag.IDEstadoResidencias,
                   "Seleccione un Estado",
                   htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.IDEstadoResidencia, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.annoInicio, htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.annoInicio, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.annoInicio, "", new { @class = "text-danger" })
                </div>
            </div>
            <hr />
            <div class="form-group">
                <div class="btn-group" role="group">
                    <input type="submit" value="Modificar" class="btn btn-success" />
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}