

@{
    var Carros = new List<Infraestructure.Models.Carros>();
    var Personas = new List<Infraestructure.Models.Personas>();
    var idResidencias = ViewBag.IdResidencia;
    Carros = ViewBag.CarrosResidentes;
    Personas = ViewBag.PersonasResidentes;
    ViewBag.Title = "Administración de la Residencia #" + ViewBag.IdResidencia;


}

<div data-aos="fade-up" class="row">
    <h2 class="text-center">@ViewBag.Title</h2>

    <div class="col-lg-6 col-sm-12">
        <h3 class="text-center">Carros</h3>
        <span class="glyphicons glyphicons-hand-left"></span>
        <div id="tablacarros">
            @if (Carros.Count() > 0)
            {
                @Html.Partial("_PartialViewListaCarros", (List<Infraestructure.Models.Carros>)Carros)
            }
            else
            {
                <button class="btn btn-primary" onclick="CrearCarro()"><i class="fa-solid fa-plus"></i> Añadir Nuevo Carro</button>
                <hr />
                <div class="alert alert-warning align-items-center">
                    La Residencia no tiene carros
                </div>
            }
        </div>
    </div>

    <div class="col-lg-6 col-sm-12">
        <h3 class="text-center">Personas</h3>
        <span class="glyphicons glyphicons-hand-left"></span>
        <div id="tablapersonas">
            @if (Carros.Count() > 0)
            {
                @Html.Partial("_PartialViewListaPersonas", (List<Infraestructure.Models.Personas>)Personas)
            }
            else
            {
                <button class="btn btn-primary" onclick="CrearPersona()"><i class="fa-solid fa-plus"></i> Añadir Nueva Persona</button>
                <hr />
                <div class="alert alert-warning align-items-center">
                    La Residencia no tiene personas
                </div>
            }
        </div>
    </div>

    <div class="text-center">
        <a href="@Url.Action("Index","ListaResidencias")" class="btn btn-primary">
            Regresar al listado
        </a>
    </div>
    
</div>


<div class="modal" tabindex="-1" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content" style="color:#fff">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>

            </div>
        </div>
    </div>
</div>
@* Modal *@

@section Scripts{
    <script type="text/javascript">

        function CrearCarro() {
            var idResidenciaCarro = @ViewBag.IdResidencia
            $.ajax({
                method: 'POST',
                url: '/ListaResidencias/AjaxCrearCarro',
                data: { 'id': idResidenciaCarro },
                success: function (response) {
                    $('.modal-body').html('');
                    $('.modal-body').html(response);
                    $('#myModal').modal('show');
                }, error: function (xhr, status, error) {
                    console.log('Error' + error + ',No Error' + xhr.status);
                }
            })
        }

        function ActualizarCarro(idPlaca) {
            var id = idPlaca;
            $.ajax({
                method: 'POST',
                url: '/ListaResidencias/AjaxModificarCarro',
                data: { 'id': id },
                success: function (response) {
                    $('.modal-body').html('');
                    $('.modal-body').html(response);
                    $('#myModal').modal('show');
                }, error: function (xhr, status, error) {
                    console.log('Error' + error + ',No Error' + xhr.status);
                }
            })
        }

        function CrearPersona() {
            var idResidenciaPersona = @ViewBag.IdResidencia
            $.ajax({
                method: 'POST',
                url: '/ListaResidencias/AjaxCrearPersona',
                data: { 'id': idResidenciaPersona },
                success: function (response) {
                    $('.modal-body').html('');
                    $('.modal-body').html(response);
                    $('#myModal').modal('show');
                }, error: function (xhr, status, error) {
                    console.log('Error' + error + ',No Error' + xhr.status);
                }
            })
        }

        function ActualizarPersona(idPlaca) {
            var id = idPlaca;
            $.ajax({
                method: 'POST',
                url: '/ListaResidencias/AjaxModificarPersona',
                data: { 'id': id },
                success: function (response) {
                    $('.modal-body').html('');
                    $('.modal-body').html(response);
                    $('#myModal').modal('show');
                }, error: function (xhr, status, error) {
                    console.log('Error' + error + ',No Error' + xhr.status);
                }
            })
        }

        function GuardarCarro() {
            event.preventDefault(); // prevenir el comportamiento predeterminado del botón de envío
            var formData = new FormData($('form')[0]); // obtener los datos del formulario y serializarlos en FormData
            $.ajax({
                url: '@Url.Action("GuardarCarro", "ListaResidencias")', // especificar la acción del controlador que manejará la solicitud
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (result) {
                    // procesar la respuesta del servidor
                    $('#tablacarros').html(result);
                    $('#myModal').modal('hide');
                },
                error: function (xhr, status, error) {
                    // manejar errores
                    console.log(error);
                }
            });
        }

        function GuardarPersona() {
            event.preventDefault(); // prevenir el comportamiento predeterminado del botón de envío
            var formData = new FormData($('form')[0]); // obtener los datos del formulario y serializarlos en FormData
            $.ajax({
                url: '@Url.Action("GuardarPersona", "ListaResidencias")', // especificar la acción del controlador que manejará la solicitud
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (result) {
                    // procesar la respuesta del servidor
                    $('#tablapersonas').html(result);
                    $('#myModal').modal('hide');
                },
                error: function (xhr, status, error) {
                    // manejar errores
                    console.log(error);
                }
            });
        }

    </script>
}