@model Infraestructure.Models.GestionResidencias

@{
    ViewBag.Title = "Details";
}

<h2>Detalles de la Residencia</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDResidencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDResidencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuarios.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuarios.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantPersonas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantPersonas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstadoResidencia.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoResidencia.estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.annoInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.annoInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantCarros)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantCarros)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
