@model Infraestructure.Models.GestionResidencias

@{
    ViewBag.Title = "Detalles de la Residencia";
}


<div data-aos="fade-up">

    <h2 class="text-center">Detalles de la Residencia de @Html.DisplayFor(model => model.Usuarios.nombre)</h2>

    <div class="text-center blackback">
        <dl class="dl-horizontal">
            <dt >
                Residencia #@Html.DisplayFor(model => model.IDResidencia)
            </dt>
            <dt >
                @Html.DisplayNameFor(model => model.cantPersonas): @for (int i = 0; i < Model.cantPersonas; i++)
                {<i class="fa-sharp fa-solid fa-person"></i>}
            </dt>
            <dt >
                @Html.DisplayNameFor(model => model.EstadoResidencia.estado): @Html.DisplayFor(model => model.EstadoResidencia.estado)
            </dt>

            <dt >
                @Html.DisplayNameFor(model => model.annoInicio): @Html.DisplayFor(model => model.annoInicio)
            </dt>

            <dt >
                @Html.DisplayNameFor(model => model.cantCarros):
                @if (Model.cantCarros > 0)
                {
                    for (int i = 0; i < Model.cantCarros; i++)
                    {<i class="fa-solid fa-car"></i>}
                }
                else
                {<a>No posee Carros</a>}

            </dt>
        </dl>
        <div class="text-center">
            <a href="@Url.Action("Index","ListaResidencias")" class="btn btn-primary">Volver a lista de Residencias</a>
        </div>
    </div>
</div>

