@model IEnumerable<Infraestructure.Models.GestionResidencias>

@{
    ViewBag.Title = "Lista de Residencias";
}

@{
    String nombre = "";
    int id = 0;
    int idTipoUsuario = 0;

    if (Session["User"] != null)
    {
        Infraestructure.Models.Usuarios usuario = new Infraestructure.Models.Usuarios();
        usuario = (Infraestructure.Models.Usuarios)Session["User"];
        nombre = $"{usuario.nombre}";
        id = usuario.ID;
        idTipoUsuario = usuario.IDTipoUsuario;
    }

    var ResidenciasUser = new List<Infraestructure.Models.GestionResidencias>();
    if (idTipoUsuario == 1)
    {
        ResidenciasUser = Model.ToList();
    }
    else
    {
        if (idTipoUsuario == 2)
        {
            foreach (var item in Model.ToList())
            {
                if (item.IDUsuario == id)
                {
                    ResidenciasUser.Add(item);
                }

            }
        }
    }

}


<div data-aos="fade-up">
    <h2 class="text-center">@ViewBag.Title</h2>

    @if (idTipoUsuario == 1)
    {
        <div>
            <a href="@Url.Action("Create","ListaResidencias")" class="btn btn-primary">
                <i class="fa-solid fa-plus"></i> Crear Nueva Residencia
            </a>
        </div>
    }

    <hr />
    <table class="table table-hover">
        <tr class="text-center">
            <th>
                @Html.DisplayNameFor(model => model.IDResidencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuarios.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoResidencia.estado)
            </th>
            <th></th>
        </tr>

        @foreach (var item in ResidenciasUser)
        {
            <tr class="text-center">
                <td>
                    @Html.DisplayFor(modelItem => item.IDResidencia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuarios.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstadoResidencia.estado)
                </td>
                <td>
                    <div class="btn-group" role="group">
                        <a href="@Url.Action("Details","ListaResidencias", new { id = item.IDResidencia })" class="btn btn-primary">
                            Detalles
                        </a>
                        <a href="@Url.Action("Edit","ListaResidencias", new { id = item.IDResidencia })" class="btn btn-secondary">
                            Modificar
                        </a>
                        <form method="post" action="@Url.Action("Administrar", "ListaResidencias")">
                            <input type="hidden" name="idResidencia" value=@item.IDResidencia />
                            <button class="btn btn-primary">Administrar la residencia</button>
                        </form>
                    </div>
                </td>
            </tr>
        }
    </table>
</div>

