@model IEnumerable<Infraestructure.Models.GestionResidencias>

@{
    ViewBag.Title = "Lista de Residencias";
}

@{
    String nombre = "";
    int id = 0;
    int idTipoUsuario = 0;

    if (Session["User"] != null)
    {
        Infraestructure.Models.Usuarios usuario = new Infraestructure.Models.Usuarios();
        usuario = (Infraestructure.Models.Usuarios)Session["User"];
        nombre = $"{usuario.nombre}";
        id = usuario.ID;
        idTipoUsuario = usuario.IDTipoUsuario;
    }

    var ResidenciasUser = new List<Infraestructure.Models.GestionResidencias>();
    if (idTipoUsuario == 1)
    {
        ResidenciasUser = Model.ToList();
    }
    else
    {
        if (idTipoUsuario == 2)
        {
            foreach (var item in Model.ToList())
            {
                if (item.IDUsuario == id)
                {
                    ResidenciasUser.Add(item);
                }

            }
        }
    }

}


<div data-aos="fade-up">
    <h2 class="text-center">@ViewBag.Title</h2>

    @if (idTipoUsuario == 1)
    {
        <button class="btn btn-primary" onclick="CrearResidencia()"><i class="fa-solid fa-plus"></i> Añadir Nueva Residencia</button>
    }

    <hr />
    <table class="table table-hover">
        <tr class="text-center">
            <th>
                @Html.DisplayNameFor(model => model.IDResidencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuarios.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoResidencia.estado)
            </th>
            <th></th>
        </tr>

        @foreach (var item in ResidenciasUser)
        {
            <tr class="text-center">
                <td>
                    @Html.DisplayFor(modelItem => item.IDResidencia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuarios.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstadoResidencia.estado)
                </td>
                <td>
                    <div class="btn-group" role="group">
                        <button class="btn btn-primary" onclick="DetalleResidencia('@item.IDResidencia')"><i class="fa-solid fa-circle-info"></i> Detalles</button>
                        @if (idTipoUsuario == 1)
                        {
                            <a href="@Url.Action("Edit","ListaResidencias", new { id = item.IDResidencia })" class="btn btn-secondary">
                                Modificar
                            </a>
                        }

                        <form method="post" action="@Url.Action("Administrar", "ListaResidencias")">
                            <input type="hidden" name="idResidencia" value=@item.IDResidencia />
                            <button class="btn btn-primary">Administrar la residencia</button>
                        </form>
                    </div>
                </td>
            </tr>
        }
    </table>
</div>

<div class="modal" tabindex="-1" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>

            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script type="text/javascript">

        function CrearResidencia() {
            $.ajax({
                method: 'POST',
                url: '/ListaResidencias/AjaxCrearResidencia',
                success: function (response) {
                    $('.modal-body').html('');
                    $('.modal-body').html(response);
                    $('#myModal').modal('show');
                }, error: function (xhr, status, error) {
                    console.log('Error' + error + ',No Error' + xhr.status);
                }
            })
        }

        function DetalleResidencia(idResidencia) {
            var id = idPlan;
            $.ajax({
                method: 'POST',
                url: '/GestionAsignacionPlanes/_PartialViewDetalleResidencia',
                data: { 'id': id },
                success: function (response) {
                    $('.modal-body').html('');
                    $('.modal-body').html(response);
                    $('#myModal').modal('show');
                }, error: function (xhr, status, error) {
                    console.log('Error' + error + ',No Error' + xhr.status);
                }
            })
        }

        function ActualizarCarro(idPlaca) {
            var id = idPlaca;
            $.ajax({
                method: 'POST',
                url: '/ListaResidencias/AjaxModificarCarro',
                data: { 'id': id },
                success: function (response) {
                    $('.modal-body').html('');
                    $('.modal-body').html(response);
                    $('#myModal').modal('show');
                }, error: function (xhr, status, error) {
                    console.log('Error' + error + ',No Error' + xhr.status);
                }
            })
        }

        function CrearPersona() {
            var idResidenciaPersona = @ViewBag.IdResidencia
            $.ajax({
                method: 'POST',
                url: '/ListaResidencias/AjaxCrearPersona',
                data: { 'id': idResidenciaPersona },
                success: function (response) {
                    $('.modal-body').html('');
                    $('.modal-body').html(response);
                    $('#myModal').modal('show');
                }, error: function (xhr, status, error) {
                    console.log('Error' + error + ',No Error' + xhr.status);
                }
            })
        }

        function ActualizarPersona(idPlaca) {
            var id = idPlaca;
            $.ajax({
                method: 'POST',
                url: '/ListaResidencias/AjaxModificarPersona',
                data: { 'id': id },
                success: function (response) {
                    $('.modal-body').html('');
                    $('.modal-body').html(response);
                    $('#myModal').modal('show');
                }, error: function (xhr, status, error) {
                    console.log('Error' + error + ',No Error' + xhr.status);
                }
            })
        }

        function GuardarCarro() {
            event.preventDefault(); // prevenir el comportamiento predeterminado del botón de envío
            var formData = new FormData($('form')[0]); // obtener los datos del formulario y serializarlos en FormData
            $.ajax({
                url: '@Url.Action("GuardarCarro", "ListaResidencias")', // especificar la acción del controlador que manejará la solicitud
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (result) {
                    // procesar la respuesta del servidor
                    $('#tablacarros').html(result);
                    $('#myModal').modal('hide');
                },
                error: function (xhr, status, error) {
                    // manejar errores
                    console.log(error);
                }
            });
        }

        function GuardarPersona() {
            event.preventDefault(); // prevenir el comportamiento predeterminado del botón de envío
            var formData = new FormData($('form')[0]); // obtener los datos del formulario y serializarlos en FormData
            $.ajax({
                url: '@Url.Action("GuardarPersona", "ListaResidencias")', // especificar la acción del controlador que manejará la solicitud
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (result) {
                    // procesar la respuesta del servidor
                    $('#tablapersonas').html(result);
                    $('#myModal').modal('hide');
                },
                error: function (xhr, status, error) {
                    // manejar errores
                    console.log(error);
                }
            });
        }

    </script>
}
