@model Infraestructure.Models.GestionPlanCobros

@{
    ViewBag.Title = "Details";
}

<div data-aos="fade-up">
    <h2 class="text-center">Detalles del plan</h2>
    <div class="align-content-center">
        <div class="row row-cols-2 g-3">
            <div class="col">
                <div class="card align-content-center">
                    <div class="row g-0">
                        <div class="card-body">
                            <span class="card-title" style="font-size: 28px; font-weight: 100; color: #0CB0BB;">@Html.DisplayFor(model => model.descripcion)</span>
                            <p class="card-text" style="color: #ffffff; font-weight: 500;">
                                Plan @Html.DisplayFor(model => model.IDPlan)
                            </p>
                            <p class="card-text">
                                <i class="fa-solid fa-bookmark"></i> <b>Rubros a cobrar dentro del plan:</b>
                                <ul>
                                    @{
                                        decimal total = 0;
                                    }
                                    @foreach (var c in Model.GestionRubrosCobros)
                                    {
                                        <li>@c.descripcion: <i class="fa-solid fa-colon-sign"></i>@c.monto</li>
                                        total += c.monto;
                                    }
                                </ul>
                                <i class="fa-solid fa-bookmark"></i> <b>Total: <i class="fa-solid fa-colon-sign"></i>@total </b>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    @*@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |*@
    <div class="text-center">
        <a href="@Url.Action("Index","GestionPlanCobros")" class="btn btn-primary">Volver al Inicio</a>
    </div>
</div>






