@model Infraestructure.Models.GestionPlanCobros

@{
    ViewBag.Title = "Details";
}

<h2>Detalles del plan</h2>
<div>
    <div class="row row-cols-2 g-3">
        <div class="col">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                        <div class="card-body">
                            <span class="card-title" style="font-size: 25px; font-weight: 500; line-height: 1.2">@Html.DisplayFor(model => model.descripcion)</span>
                            <p class="card-text" style="color: #0CB0BB; font-weight: 500;">
                                @Html.DisplayFor(model => model.IDPlan)
                            </p>
                            <p class="card-text">
                                <i class="fa-solid fa-bookmark"></i> <b>Rubros a cobrar dentro del plan:</b>
                                <ul>
                                    @foreach (var c in Model.GestionRubrosCobros)
                                    {
                                        <li>@c.descripcion</li>
                                        <li>@c.monto</li>
                                    }
                                </ul>
                            </p>
                        </div>

                </div>
            </div>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>





