@model IEnumerable<Infraestructure.Models.GestionPlanCobros>

@{
    ViewBag.Title = "Mantenimiento de Planes de cobro";
}

<div data-aos="fade-up">
    <h2 class="text-center">@ViewBag.Title</h2>

    <a href="@Url.Action("Create","GestionPlanCobros")" class="btn btn-primary">
        <i class="fa-solid fa-plus"></i> Crear Nuevo Plan
    </a>
    <hr />
    <table class="table table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.descripcion)
            </th>
            <th>
                Total
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.descripcion)
                </td>
                <td>
                    @{ decimal total = 0;}
                    @foreach (var rubro in item.GestionRubrosCobros)
                    {
                        total += rubro.monto;
                    }
                    <i class="fa-solid fa-colon-sign"></i> @total.ToString("N2")
                </td>
                <td>
                    <div class="text-center">
                        <a href="@Url.Action("Edit","GestionPlanCobros", new { id = item.IDPlan })" class="btn btn-primary">
                            Modificar Plan
                        </a>
                    </div>
                </td>
            </tr>
        }

    </table>
</div>