@model IEnumerable<Infraestructure.Models.GestionPlanCobros>

@{
    ViewBag.Title = "IndexAdmin";
}

<h2>IndexAdmin</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDPlan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IDPlan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDPlan }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.IDPlan })
        </td>
    </tr>
}

</table>
