@model Infraestructure.Models.GestionAsignacionPlanes

@{
    var Historial = new List<Infraestructure.Models.GestionAsignacionPlanes>();
    Historial = ViewBag.listaHistorial;
    ViewBag.Title = "Historial de Deudas";
}

<div data-aos="fade-up">
    <h2 class="text-center">Filtros de Búsqueda</h2>


    <div class="row text-center">
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="form-group">
                <div class="col-md-12">
                    @Html.DropDownListFor(model => model.IDResidencia,
                   (SelectList)ViewBag.IDResidencias,
                   "Seleccione una Residencia",
                   htmlAttributes: new { @class = "form-control", @id = "idResidenciaAjax" })
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="form-group">
                <div class="col-md-12">
                    @Html.DropDownListFor(model => model.MesSeleccionado,
                   (SelectList)ViewBag.listameses,
                   "Seleccione un Mes",
                   htmlAttributes: new { @class = "form-control", @id = "mesAjax" })
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="form-group">
                <div class="col-md-12">
                    @Html.DropDownListFor(model => model.AnnoSeleccionado,
                   (SelectList)ViewBag.listaannos,
                   "Seleccione un Año",
                   htmlAttributes: new { @class = "form-control", @id = "annoAjax" })
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <button class="btn btn-primary" onclick="BuscarHistorial()" style="width:100%"><i class="fa-solid fa-magnifying-glass"></i> Buscar</button>
        </div>
    </div>
    <div>
        <hr />
        <h3 class="text-center">Historial de Deudas</h3>
        <hr />
        <span class="glyphicons glyphicons-hand-left"></span>
        <div id="tablaDeudas">

            @Html.Partial("_PartialViewListaDeudas", Historial)

        </div>
    </div>
</div>

<div class="modal" tabindex="-1" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content"style="color:#fff">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>

            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script type="text/javascript">



        function BuscarHistorial() {
            var idResidencia = $("#idResidenciaAjax").val();
            var mesSeleccionado = $("#mesAjax").val();
            var annoSeleccionado = $("#annoAjax").val();
            var estadopago = false;
            $.ajax({
                url: '@Url.Action("BuscarHistorial", "HistorialYDeuda")', // especificar la acción del controlador que manejará la solicitud
                type: 'POST',
                data: {
                    mes: mesSeleccionado,
                    anno: annoSeleccionado,
                    idResidencia: idResidencia,
                    estado: estadopago
                },
                success: function (result) {
                    $('#tablaDeudas').html('');
                    // procesar la respuesta del servidor
                    $('#tablaDeudas').html(result);
                },
                error: function (xhr, status, error) {
                    // manejar errores
                    console.log(error);
                }
            });
        }

        function DetallePlan(idPlan) {
            var id = idPlan;
            $.ajax({
                method: 'POST',
                url: '/GestionAsignacionPlanes/_PartialViewDetails',
                data: { 'id': id },
                success: function (response) {
                    $('.modal-body').html('');
                    $('.modal-body').html(response);
                    $('#myModal').modal('show');
                }, error: function (xhr, status, error) {
                    console.log('Error' + error + ',No Error' + xhr.status);
                }
            })
        }

        function PagarPlan(idAsignacion) {
            var idResidencia = $("#idResidenciaAjax").val();
            var mesSeleccionado = $("#mesAjax").val();
            var annoSeleccionado = $("#annoAjax").val();
            var id = idAsignacion;
            $.ajax({
                method: 'POST',
                url: '/HistorialYDeuda/PagarPlan',
                data: {
                    idAsignacion: id,
                    mes: mesSeleccionado,
                    anno: annoSeleccionado,
                    idResidencia: idResidencia
                },
                success: function (response) {
                    $('#tablaDeudas').html('');
                    // procesar la respuesta del servidor
                    $('#tablaDeudas').html(response);
                }, error: function (xhr, status, error) {
                    console.log('Error' + error + ',No Error' + xhr.status);
                }
            })
        }

    </script>
}
