@model Infraestructure.Models.Usuarios

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


<div data-aos="fade-up">
    <div class="container h-auto contenedorbajo">
        <div class="d-flex justify-content-center h-100">
            <div class="user_card">
                <div class="d-flex justify-content-center">
                    <div class="brand_logo_container">
                        <img src="~/Assets/Logo Circulo.png" class="brand_logo" alt="Logo">
                    </div>
                </div>
                <div class="d-flex justify-content-center form_container">
                    @using (Html.BeginForm("Login", "Login"))
                    {
                        @Html.AntiForgeryToken()
                        <div class="input-group mb-3">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                            @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email" } })
                            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                        </div>
                        <div class="input-group mb-2 rounded">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                            @Html.EditorFor(model => model.contrasenna, new { htmlAttributes = new { @class = "form-control", type = "password", id = "contrasenna", placeholder = "Contraseña" } })
                            <button class="btn btn-primary " onclick="togglePassword()"><i id="toggleIcon" class="fa-solid fa-eye"></i></button>
                            @Html.ValidationMessageFor(model => model.contrasenna, "", new { @class = "text-danger" })
                        </div>

                        <div class="d-flex justify-content-center mt-3 login_container">
                            <input type="submit" value="Iniciar Sesión" class="btn btn-primary" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>






<script>
    function togglePassword() {
        event.preventDefault();
        var input = document.getElementById("contrasenna");
        var icon = document.getElementById("toggleIcon");
        if (input.type === "password") {
            input.type = "text";
            icon.classList.remove("fa-eye");
            icon.classList.add("fa-eye-slash");
        } else {
            input.type = "password";
            icon.classList.remove("fa-eye-slash");
            icon.classList.add("fa-eye");
        }
    }
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

