<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - LuminCondo</title>
    <link rel="shortcut icon" href="~/Assets/favicon.ico">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    @RenderSection("styles", required: false)
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
    @Html.Partial("_Menu")

    <div class="container body-content">
        @RenderBody()
        <hr />
        <div class="container-fluid bg-4 text-center">
            <credit>&copy;Derechos Reservados</credit>
            <credit id="date"></credit>
            <script>document.getElementById("date").innerHTML = new Date().getFullYear()</script>
            <br>
            <credit> LuminCondo</credit>
        </div>
    </div>

    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        AOS.init();
    </script>
    @Scripts.Render("~/bundles/sweetalert")

    @RenderSection("scripts", required: false)

    @if (ViewBag.NotificationMessage != null)
    {
        <script>
            @Html.Raw(ViewBag.NotificationMessage)
        </script>
    }
</body>
</html>
