<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - LuminCondo</title>
    <link rel="shortcut icon" href="~/Assets/favicon.ico">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!-- Aquí agregamos el código para leer y escribir la cookie -->
    <script>


        // Leemos la cookie "dark-mode"
        var darkModeCookie = document.cookie.replace(/(?:(?:^|.*;\s*)dark-mode\s*\=\s*([^;]*).*$)|^.*$/, "$1");

        // Si la cookie existe y tiene valor "true", aplicamos la clase "dark-mode" al body
        if (darkModeCookie === "true") {
            document.querySelector("body").classList.add("dark-mode");
        }

        function toggleDarkMode() {
            // Obtenemos el valor actual del interruptor
            var darkMode = document.querySelector('#dark-mode-toggle').checked;

            // Creamos la cookie con el valor del interruptor
            document.cookie = "dark-mode=" + darkMode + "; path=/";

            // Agregamos o eliminamos la clase "dark-mode" del body según corresponda
            if (darkMode) {
                document.querySelector("body").classList.add("dark-mode");
                document.querySelector("table").classList.add("dark-mode");
                document.querySelector("#dark-mode-toggle").checked = true;

            } else {
                document.querySelector("body").classList.remove("dark-mode");
                document.querySelector("table").classList.remove("dark-mode");
                document.querySelector("#dark-mode-toggle").checked = false;
            }

        }
    </script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    @RenderSection("styles", required: false)
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
    @Html.Partial("_Menu")

    <div class="container body-content">
        @RenderBody()
        <hr />
        <div class="container-fluid bg-4 text-center">
            <credit>&copy;Derechos Reservados</credit>
            <credit id="date"></credit>
            <script>document.getElementById("date").innerHTML = new Date().getFullYear()</script>
            <br>
            <credit> LuminCondo</credit>
        </div>
    </div>

    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <script>
        AOS.init();
    </script>

    @Scripts.Render("~/bundles/sweetalert")
    @Scripts.Render("~/bundles/fontAwesome")

    @RenderSection("scripts", required: false)

    @if (ViewBag.NotificationMessage != null)
    {
        <script>
            @Html.Raw(ViewBag.NotificationMessage)
        </script>
    }
</body>
</html>
