<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - LuminCondo</title>
    <link rel="shortcut icon" href="~/Assets/favicon.ico">
    @Styles.Render("~/Content/css")
    <style>
        body {
            position: relative;
            padding-bottom: 4em;
            min-height: 100vh
        }

        .piepagina {
            background-color: #0cb0bb;
            width: 100vw;
            position: absolute;
            bottom: 0;
        }
    </style>
    @Scripts.Render("~/bundles/modernizr")
    <!-- Aquí agregamos el código para leer y escribir la cookie -->
    <script>


        document.addEventListener('DOMContentLoaded', function () {
            // Obtenemos el valor almacenado en localStorage o sessionStorage
            var darkMode = localStorage.getItem('dark-mode') || sessionStorage.getItem('dark-mode');

            // Si el valor es "true", aplicamos el modo oscuro
            if (darkMode === 'true' || !darkMode) {
                document.querySelector("body").classList.add("dark-mode");
                document.querySelector("#dark-mode-toggle").checked = true;
            }
        });

        function toggleDarkMode() {
            // Obtenemos el valor actual del interruptor
            var darkMode = document.querySelector('#dark-mode-toggle').checked;

            // Creamos la cookie con el valor del interruptor
            localStorage.setItem('dark-mode', darkMode);

            // Agregamos o eliminamos la clase "dark-mode" del body según corresponda
            if (darkMode) {
                document.querySelector("body").classList.add("dark-mode");
                document.querySelector("#dark-mode-toggle").checked = true;

            } else {
                document.querySelector("body").classList.remove("dark-mode");
                document.querySelector("#dark-mode-toggle").checked = false;
            }

        }
    </script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body>
    @Html.Partial("_Menu")

    <div class="container body-content">
        @RenderBody()
    </div>
    <div class="container-fluid bg-4 text-center piepagina">
        <credit>&copy;Derechos Reservados</credit>
        <credit id="date"></credit>
        <script>document.getElementById("date").innerHTML = new Date().getFullYear()</script>
        <br>
        <credit> LuminCondo</credit>
    </div>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <script>
        AOS.init();
    </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/sweetalert")
    @Scripts.Render("~/bundles/fontAwesome")

    @RenderSection("scripts", required: false)

    @if (ViewBag.NotificationMessage != null)
    {
        <script>
            @Html.Raw(ViewBag.NotificationMessage)
        </script>
    }
</body>
</html>
