<style>
    a.nav-link:hover {
        color: #9edfe4;
    }

    a.nav-link {
        color: #ffffff;
    }
</style>

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #0CB0BB; font-size: 20px;">
    <div class="container-fluid ">
        <a class="navbar-brand"
           @*Accion, Controlador*@
           href="@Url.Action("Index","Home")">
            <img src="~/Assets/Logo LuminCondo.jpg" width="50" height="50" class="d-inline-block align-top mr-2" style="border-radius:10px" alt="LuminCondo">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                @* Información usuario *@
                @{
                    String nombre = "";
                    String email = "Perfil";
                    int tipoUsuario = 0;

                    if (Session["User"] != null)
                    {
                        Infraestructure.Models.Usuarios usuario = new Infraestructure.Models.Usuarios();
                        usuario = (Infraestructure.Models.Usuarios)Session["User"];
                        nombre = $"{usuario.nombre}";
                        email = usuario.email;
                        tipoUsuario = usuario.IDTipoUsuario;
                    }
                }
                @*Dropdown de Gestiones*@
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa-solid fa-business-time"></i>Gestiones</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item"
                           @*Accion, Controlador*@
                           href="@Url.Action("Index","ReporteIncidencias")">
                            <i class="fa-solid fa-house-crack"></i>
                            Incidencias
                        </a>
                        <a class="dropdown-item"
                           @*Accion, Controlador*@
                           href="@Url.Action("Index","GestionReserva")">
                            <i class="fa-solid fa-fire"></i>
                            Reservas
                        </a>
                        <a class="dropdown-item"
                           @*Accion, Controlador*@
                           href="@Url.Action("Index","ListaResidencias")">
                            <i class="fa-solid fa-house"></i>
                            Residencias
                        </a>
                        <a class="dropdown-item"
                           href="@Url.Action("Index","GestionPlanCobros")">
                            <i class="fa-solid fa-file-invoice"></i>
                            Planes de Cobro
                        </a>
                        <a class="dropdown-item"
                           href="@Url.Action("Index","EstadoDeCuenta")">
                            <i class="fa-solid fa-money-bill"></i>
                            Estado de Cuenta
                        </a>
                    </div>
                </li>
                @if (tipoUsuario == 1)
                {
                    @*Dropdown de Mantenimientos*@
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa-solid fa-gears"></i>Mantenimientos</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item"
                               href="@Url.Action("Index","Informacion")">
                                @*<i class="fa-solid fa-newspaper"></i>*@
                                <i class="fa-solid fa-gears"></i>
                                Noticias
                            </a>
                            <a class="dropdown-item"
                               href="@Url.Action("IndexAdmin","GestionPlanCobros")">
                                <i class="fa-solid fa-gears"></i>
                                Plan de Cobros
                            </a>
                            <a class="dropdown-item"
                               href="@Url.Action("Index","GestionRubrosCobros")">
                                <i class="fa-solid fa-gears"></i>
                                Rubros de Cobro
                            </a>
                            <a class="dropdown-item"
                               href="@Url.Action("Index","Usuarios")">
                                <i class="fa-solid fa-gears"></i>
                                Usuarios
                            </a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa-solid fa-gears"></i>Gestión Administrativa</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item"
                               href="@Url.Action("Index","GestionAsignacionPlanes")">
                                <i class="fa-regular fa-rectangle-list"></i>
                                Asignación de Planes
                            </a>
                            <a class="dropdown-item"
                               href="@Url.Action("IndexDeudas","HistorialYDeuda")">
                                <i class="fa-solid fa-gears"></i>
                                Gestión de Deudas
                            </a>
                            <a class="dropdown-item"
                               href="@Url.Action("IndexHistorial","HistorialYDeuda")">
                                <i class="fa-solid fa-gears"></i>
                                Historial de Pagos
                            </a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa-regular fa-file-lines"></i> Reportes</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item"
                               href="@Url.Action("Index","ReporteGrafico")">
                                <i class="fa-solid fa-file-lines"></i>
                                Reporte de Ingresos
                            </a>
                            <a class="dropdown-item"
                               href="@Url.Action("Index","Reporte")">
                                <i class="fa-regular fa-file-lines"></i>
                                Reporte de Deudas
                            </a>
                        </div>
                    </li>
                }

                <li class="nav-item">
                    <a class="nav-link"
                       @*Accion, Controlador*@
                       href="@Url.Action("About", "Home")">
                        <i class="fa-solid fa-building"></i>
                        Acerca de
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       @*Accion, Controlador*@
                       href="@Url.Action("Contact", "Home")">
                        <i class="fa-solid fa-headset"></i>
                        Contáctanos
                    </a>
                </li>
            </ul>
            <div class="nav-item dropdown ml-auto">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
                   href="#" role="button" aria-haspopup="true"
                   aria-expanded="false"><i class="fa-solid fa-user"></i> Perfil</a>
                <div class="dropdown-menu">
                    @if (Session["User"] != null)
                    {
                        <div class="dropdown-item">
                            @* Nombre Usuario *@
                            Usuario: @nombre
                        </div>
                    }

                    @if (Session["User"] == null)
                    {
                        <a class="dropdown-item"
                           @*Accion, Controlador*@
                           href="@Url.Action("Index","Login")">
                            <i class="fa-solid fa-user-plus"></i>
                            Login
                        </a>
                    }
                    else
                    {
                        <a class="dropdown-item"
                           href="@Url.Action("Logout","Login")">
                            <i class="fa-solid fa-right-from-bracket"></i>
                            Logout
                        </a>
                    }
                </div>
            </div>
            <div class="form-check form-switch">
                <input id="dark-mode-toggle" class="form-check-input" type="checkbox" onchange="toggleDarkMode()" />
            </div>
        </div>
        @*<label class="switch" id="dark-mode-btn">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>*@


        @*<div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="switchMode" checked>
            </div>*@


    </div>
</nav>

