<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #0CB0BB; font-size:20px">
    <div class="container-fluid ">
        <a class="navbar-brand"
           @*Accion, Controlador*@
           href="@Url.Action("Index","Home")">
            <img src="~/Assets/Logo LuminCondo.jpg" width="50" height="50" class="d-inline-block align-top mr-2" style="border-radius:10px"alt="LuminCondo">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                @*Enlace a Noticias*@
                <li class="nav-item">
                    <a class="nav-link"
                       @*Accion, Controlador*@
                       href="@Url.Action("Index","Informacion")">
                        <i class="fa-solid fa-newspaper"></i>
                        Noticias
                    </a>
                </li>
                @*Dropdown de Gestiones*@
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa-solid fa-business-time"></i>Gestiones</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item"
                           @*Accion, Controlador*@
                           href="@Url.Action("Index","ReporteIncidencias")">
                            <i class="fa-solid fa-house-crack"></i>
                            Incidencias
                        </a>
                        <a class="dropdown-item"
                           @*Accion, Controlador*@
                           href="@Url.Action("Index","Home")">
                            <i class="fa-solid fa-fire"></i>
                            Reservas
                        </a>
                        <a class="dropdown-item"
                           @*Accion, Controlador*@
                           href="@Url.Action("Index","ListaResidencias")">
                            <i class="fa-solid fa-house"></i>
                            Residencias
                        </a>
                        <a class="dropdown-item"
                           href="@Url.Action("Index","GestionPlanCobros")">
                            <i class="fa-solid fa-file-invoice"></i>
                            Planes de Cobro
                        </a>
                        <a class="dropdown-item"
                           href="@Url.Action("Index","EstadoDeCuenta")">
                            <i class="fa-solid fa-money-bill"></i>
                            Estado de Cuenta
                        </a>
                    </div>
                </li>
                @*Dropdown de Mantenimientos*@
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa-solid fa-gears"></i>Mantenimientos</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item"
                           href="@Url.Action("Index","Informacion")">
                            <i class="fa-solid fa-gears"></i>
                            Información
                        </a>
                        <a class="dropdown-item"
                           href="@Url.Action("Index","ReporteIncidencias")">
                            <i class="fa-solid fa-gears"></i>
                            Reporte de Incidencias
                        </a>
                        <a class="dropdown-item"
                           href="@Url.Action("IndexAdmin","GestionPlanCobros")">
                            <i class="fa-solid fa-gears"></i>
                            Plan de Cobros
                        </a>
                        <a class="dropdown-item"
                           href="@Url.Action("Index","GestionRubrosCobros")">
                            <i class="fa-solid fa-gears"></i>
                            Rubros de Cobro
                        </a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa-regular fa-file-lines"></i> Reportes</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item"
                           href="@Url.Action("Index","Home")">
                            <i class="fa-solid fa-file-lines"></i>
                            Reporte de Ingresos
                        </a>
                        <a class="dropdown-item"
                           href="@Url.Action("Index","Home")">
                            <i class="fa-regular fa-file-lines"></i>
                            Reporte de Deudas
                        </a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       @*Accion, Controlador*@
                       href="@Url.Action("About", "Home")">
                        <i class="fa-solid fa-building"></i>
                        Acerca de
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       @*Accion, Controlador*@
                       href="@Url.Action("Contact", "Home")">
                        <i class="fa-solid fa-headset"></i>
                        Contáctanos
                    </a>
                </li>
                <li class="nav-item dropdown ml-auto">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
                       href="#" role="button" aria-haspopup="true"
                       aria-expanded="false"><i class="fa-solid fa-user"></i> Perfil</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item"
                           @*Accion, Controlador*@
                           href="@Url.Action("Index","Login")">
                            <i class="fa-solid fa-user-plus"></i>
                            Login
                        </a>
                        <a class="dropdown-item"
                           href="@Url.Action("Logout","Login")">
                            <i class="fa-solid fa-right-from-bracket"></i>
                            Logout
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>