@model IEnumerable<Infraestructure.Models.Informacion>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de Noticias</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDInformacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoInformacion.tipoInfo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaPublicacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDInformacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoInformacion.tipoInfo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaPublicacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>