@model IEnumerable<Infraestructure.Models.GestionAsignacionPlanes>

<div data-aos="fade-up">

    <table class="table">
        <tr class="text-center">

            <th>
                @Html.DisplayNameFor(model => model.IDResidencia)
            </th>
            <th>
                Propietario de la Residencia
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GestionPlanCobros.descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaAsignacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.estadoPago)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Reverse())
        {
            <tr class="text-center">

                <td>
                    @Html.DisplayFor(modelItem => item.IDResidencia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GestionResidencias.Usuarios.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GestionPlanCobros.descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fechaAsignacion)
                </td>
                <td>
                    @if (item.estadoPago == true)
                    {
                        <p>Pagado</p>
                    }
                    else
                    {
                        <p>Sin Pagar</p>
                    }
                </td>
                <td>
                    <div class="btn-group" role="group">
                        <button class="btn btn-primary" onclick="ActualizarAsignacion('@item.IDAsignacion')"><i class="fa-solid fa-plus"></i> Actualizar</button>

                        <button class="btn btn-secondary" onclick="DetallePlan('@item.IDPlan')"><i class="fa-solid fa-circle-info"></i> Detalles</button>
                    </div>
                </td>
            </tr>
        }

    </table>
</div>

@if (ViewBag.NotificationMessage != null)
{
    <script>
            @Html.Raw(ViewBag.NotificationMessage)
    </script>
}


