@model Infraestructure.Models.GestionAsignacionPlanes

@{
    ViewBag.Title = "Crear una Nueva Asignación";
}

<div data-aos="fade-up">
    <h2 class="text-center">@ViewBag.Title</h2>


    @using (Html.BeginForm("Guardar", "GestionAsignacionPlanes", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })



            <div class="row">
                <div class="form-group">
                    @Html.LabelFor(model => model.IDResidencia, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="col-md-12">
                        @Html.DropDownListFor(model => model.IDResidencia,
                       (SelectList)ViewBag.IDResidencias,
                       "Seleccione una Residencia",
                       htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.IDPlan, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="col-md-12">
                        @Html.DropDownListFor(model => model.IDPlan,
                       (SelectList)ViewBag.IDPlanes,
                       "Seleccione un Plan a Asignar",
                       htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
            </div>

            <hr />
            <div class="form-group">
                <div class="btn-group" role="group">
                    <button class="btn btn-primary" onclick="GuardarAsignacion()"><i class="fa-solid fa-plus"></i> Añadir Nueva Asignación</button>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
