@model Infraestructure.Models.GestionAsignacionPlanes

@{
    var ListaAsignaciones = new List<Infraestructure.Models.GestionAsignacionPlanes>();
    ListaAsignaciones = ViewBag.listaHistorial;
    ViewBag.Title = "Listado de Asignaciones";
}

<div data-aos="fade-up">

    <h2 class="text-center">@ViewBag.Title</h2>
    <h4 class="text-center">Filtros de Búsqueda</h4>


    <div class="row text-center">
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="form-group">
                <div class="col-md-12">
                    @Html.DropDownListFor(model => model.IDResidencia,
                   (SelectList)ViewBag.IDResidencias,
                   "Seleccione una Residencia",
                   htmlAttributes: new { @class = "form-control", @id = "idResidenciaAjax" })
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="form-group">
                <div class="col-md-12">
                    @Html.DropDownListFor(model => model.MesSeleccionado,
                   (SelectList)ViewBag.listameses,
                   "Seleccione un Mes",
                   htmlAttributes: new { @class = "form-control", @id = "mesAjax" })
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="form-group">
                <div class="col-md-12">
                    @Html.DropDownListFor(model => model.AnnoSeleccionado,
                   (SelectList)ViewBag.listaannos,
                   "Seleccione un Año",
                   htmlAttributes: new { @class = "form-control", @id = "annoAjax" })
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <button class="btn btn-primary" onclick="BuscarHistorial()"><i class="fa-solid fa-magnifying-glass"></i> Buscar</button>
        </div>
    </div>

    <div>
        <div>
            <button class="btn btn-primary" onclick="CrearAsignacion()"><i class="fa-solid fa-plus"></i> Añadir Nueva Asignación</button>
        </div>
        <span class="glyphicons glyphicons-hand-left"></span>
        <div id="tablaAsignaciones">

            @Html.Partial("_PartialViewListaAsignaciones", ListaAsignaciones)

        </div>
    </div>
</div>

<div class="modal" tabindex="-1" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>

            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script type="text/javascript">



        function BuscarHistorial() {
            var idResidencia = $("#idResidenciaAjax").val();
            var mesSeleccionado = $("#mesAjax").val();
            var annoSeleccionado = $("#annoAjax").val();
            $.ajax({
                url: '@Url.Action("BuscarHistorialGeneral", "GestionAsignacionPlanes")', // especificar la acción del controlador que manejará la solicitud
                type: 'POST',
                data: {
                    mes: mesSeleccionado,
                    anno: annoSeleccionado,
                    idResidencia: idResidencia,
                },
                success: function (result) {
                    $('#tablaAsignaciones').html('');
                    // procesar la respuesta del servidor
                    $('#tablaAsignaciones').html(result);
                },
                error: function (xhr, status, error) {
                    // manejar errores
                    console.log(error);
                }
            });
        }

        function DetallePlan(idPlan) {
            var id = idPlan;
            $.ajax({
                method: 'POST',
                url: '/GestionAsignacionPlanes/_PartialViewDetails',
                data: { 'id': id },
                success: function (response) {
                    $('.modal-body').html('');
                    $('.modal-body').html(response);
                    $('#myModal').modal('show');
                }, error: function (xhr, status, error) {
                    console.log('Error' + error + ',No Error' + xhr.status);
                }
            })
        }

        function CrearAsignacion() {
            $.ajax({
                method: 'POST',
                url: '/GestionAsignacionPlanes/AjaxCrearAsignacion',
                success: function (response) {
                    $('.modal-body').html('');
                    $('.modal-body').html(response);
                    $('#myModal').modal('show');
                }, error: function (xhr, status, error) {
                    console.log('Error' + error + ',No Error' + xhr.status);
                }
            })
        }

        function ActualizarAsignacion(idAsignacion) {
            var id = idAsignacion;
            $.ajax({
                method: 'POST',
                url: '/GestionAsignacionPlanes/AjaxModificarAsignacion',
                data: { 'id': id },
                success: function (response) {
                    $('.modal-body').html('');
                    $('.modal-body').html(response);
                    $('#myModal').modal('show');
                }, error: function (xhr, status, error) {
                    console.log('Error' + error + ',No Error' + xhr.status);
                }
            })
        }

        function GuardarAsignacion() {
            event.preventDefault(); // prevenir el comportamiento predeterminado del botón de envío
            var formData = new FormData($('form')[0]); // obtener los datos del formulario y serializarlos en FormData
            $.ajax({
                url: '@Url.Action("Guardar", "GestionAsignacionPlanes")', // especificar la acción del controlador que manejará la solicitud
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (result) {
                    // procesar la respuesta del servidor
                    $('#tablaAsignaciones').html(result);
                    $('#myModal').modal('hide');
                },
                error: function (xhr, status, error) {
                    // manejar errores
                    console.log(error);
                }
            });
        }

    </script>
}
